
@media only screen and (max-width: 700px) {
    .btnResume{
        display: flex;
        justify-content:center;
    }

    .footerIcons{
        width: 80vw;
    }

    .footerDescription{
        font-size: 3vw;
    }

    .projectImages{
        display: none;
    }

    .slideShowMainDiv{
        width: 80vw;
    }

    .profileName{
        font-size: 6vw;
    }

    
.profileDescription{
    font-family: "Exo 2", sans-serif;
    font-size: 200%;
    width: 700px;
    font-weight: bolder;
    text-align: center;
}

}


@media only screen and (max-width: 1030px) {
    
    .projectDescription{
        width: 100%;
        font-family: 'Exo 2';
        text-align: center;
    }
    
    .projectHeading{
        text-align: center;
    }
}


@media only screen and (max-width: 440px) {

    .projectImage{
        width: 100%;
    }

    .achievementsHeading{
        font-size: 10vw;
    }

    .achievementImage{
        height: 50vw;
        width: 35vw;
        
    }

    .aboutHeading{
        font-size: 10vw;
    }
    
    .projectHeading{
        font-size: 10vw;

    }
}


@media only screen and (max-width: 370px) {

    .projectImage{
        width: 100%;
    }
    
}





@media only screen and (max-width: 500px) {

    .achievementDescription{
        font-size: 3vw;
    }

    .achievementHeading{
        font-size: 5vw;
    }


    .achievementDescription{
        height: 15vw;
        width: 10vw;
    }



}

@media only screen and (max-width: 800px) {

    .achievementDescription{
        width: 100%;
    }



}

@media only screen and (max-width: 1080px) {

    .achievementDescription{
        width: 100%;
    }



}


@media (min-width:500px) and (max-width:800px){
    .achievementImage{
        height: 30vw;
        width: 22vw;
        
    }

    .achievementDescription{
        width: 100%;
    }
}


@media (min-width:400px) and (max-width:500px){
    .achievementImage{
        border:2px solid red;
        height: 40vw;
        width: 30vw;
        border-radius: 10px;
    }
}
